<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container mt-5">

        <button class="btn btn-primary" onclick="save()"> Save </button>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Post Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Body</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="e: ${listEmail}">
                <th th:text="${e.getId()}" scope="row"></th>
                <td th:text="${e.getPostId()}">Mark</td>
                <td th:text="${e.getName()}">Otto</td>
                <td th:text="${e.getEmail()}">@mdo</td>
                <td th:text="${e.getBody()}" style="width: 40%;">@mdo</td>
            </tr>
         
            </tbody>
        </table>
    </div>

    <script>
      function save(){
          console.log("Halo");
        fetch('https://jsonplaceholder.typicode.com/posts/1/comments')
        .then(response => response.json())
        .then(data =>{
            let options = {
            method: 'POST',
            headers: {
                'Content-Type': 
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        }
        let postData =  fetch("http://localhost:8080/api/save", options);

        });
      }

    </script>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


  </body>
</html>